@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body{
  font-family: 'Montserrat',sans-serif !important;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 600px;
    margin: 0 auto;
}

.cuadroPais{
    background-color: rgba(107,21,21,0.75);
    border-radius: 20px;
}

.iconoBandera{
    width: 180px;
    height: 120px;
}

.tituloPais{
    padding-top: 10px;
}

.paddingSeparadorTope{
    padding-top: 15px;
}

.tituloNegrita{
    font-weight: bold;
}

.separadorLogoIndex{
    padding-top: 50px;
}

.container-fluid, .row {
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.paddingInternoDerecho{
    padding-right: 20px;
}

.paddingInternIzquierdo{
    padding-left: 20px;
}

.logoIndex{
    width: 170px;
    height: 200px;
}

.enlaceColor:hover{
    color: #843C3C !important;
}

.iconoBotonBlanco{
    width: 20px;
    fill: #FFF;
}

.iconoBotonNegro{
    width: 20px;
    fill: #000;
}

.textoJustificado{
    text-align: justify;
}

.textoCentrado{
  text-align: center;
}

.textoIzquierdo{
  text-align: left;
}

.iconConocenos{
  width: 70px;
}

.boxIconFunciones{
  width: 155px;
  height: 155px;
  /* padding: 25px; */
  justify-content: center;
  align-content: center;
}

.iconFunciones{
  width: 90px;
  height: 90px;
}

.imgFooter{
  width: auto;
  height: 400px;
}

.imagenCarruselServicios{
    width: 600px;
    height: 450px;
}

.tituloServicios{
  font-size: 20px !important;
}

.tituloServiciosLargo{
  font-size: 18px !important;
}

.resumenServicio{
  font-size: 14px !important;
}

.colorInTracker1{
  color: #6B1515;
}

.colorInTracker1Bold{
  color: #6B1515;
  font-weight: bold;
}

.separador{
  margin: 10px;
}

.imagenAuto{
  margin: auto;
}

.textoBlanco{
  color: #FFF;
}

.btn-intracker{
  background-color: #6B1515 !important;
  border-color: #6B1515 !important;
}

.btn-social-intracker{
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #6B1515 !important;
  --bs-btn-border-color: #6B1515 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #424649 !important;
  --bs-btn-hover-border-color: #373b3e !important;
  --bs-btn-focus-shadow-rgb: 66, 70, 73 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #6B1515 !important;
  --bs-btn-active-border-color: #6B1515 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #6B1515 !important;
  --bs-btn-disabled-border-color: #6B1515 !important;
}

.imgRedesSociales{
  justify-content: center !important;
  align-content: center !important;
  padding: 5px;
}

.margenSoluciones{
  margin-bottom: 40px;
}

/* Sección Servicios */
#servicios .servicios-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
#servicios .servicios-item .servicios-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#servicios .servicios-item .servicios-link .servicios-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(107,21,21,0.75);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#servicios .servicios-item .servicios-link .servicios-hover .servicios-hover-content {
  font-size: 1.25rem;
  color: white;
}
#servicios .servicios-item .servicios-link:hover .servicios-hover {
  opacity: 1;
}
#servicios .servicios-item .servicios-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#servicios .servicios-item .servicios-caption .servicios-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#servicios .servicios-item .servicios-caption .servicios-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.servicios-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.servicios-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.servicios-modal .modal-content h2, .servicios-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.servicios-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.servicios-modal .modal-content p {
  margin-bottom: 2rem;
}
.servicios-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.servicios-modal .modal-content img {
  margin-bottom: 2rem;
}
.servicios-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.servicios-modal .close-modal:hover {
  opacity: 0.3;
}

/* Sección dispositivos */
#dispositivos .dispositivos-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
#dispositivos .dispositivos-item .dispositivos-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#dispositivos .dispositivos-item .dispositivos-link .dispositivos-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(107,21,21,0.75);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#dispositivos .dispositivos-item .dispositivos-link .dispositivos-hover .dispositivos-hover-content {
  font-size: 1.25rem;
  color: white;
}
#dispositivos .dispositivos-item .dispositivos-link:hover .dispositivos-hover {
  opacity: 1;
}
#dispositivos .dispositivos-item .dispositivos-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#dispositivos .dispositivos-item .dispositivos-caption .dispositivos-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#dispositivos .dispositivos-item .dispositivos-caption .dispositivos-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dispositivos-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.dispositivos-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.dispositivos-modal .modal-content h2, .dispositivos-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.dispositivos-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.dispositivos-modal .modal-content p {
  margin-bottom: 2rem;
}
.dispositivos-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.dispositivos-modal .modal-content img {
  margin-bottom: 2rem;
}
.dispositivos-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.dispositivos-modal .close-modal:hover {
  opacity: 0.3;
}

/* testimonios */
.testimonioClientes {
  margin-bottom: 3rem;
  text-align: center;
}
.testimonioClientes img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(107,21,21,0.95);
}
.testimonioClientes h4, .testimonioClientes .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

/**/
section#contacto {
  background-color: #212529;
  background-image: url("../img/bg2_1.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

section#contacto .section-heading {
  color: #fff;
}
section#contacto form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contacto form#contactForm .form-group input,
section#contacto form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contacto form#contactForm .form-group input.form-control {
  height: auto;
}
section#contacto form#contactForm .form-group-textarea {
  height: 100%;
}
section#contacto form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contacto form#contactForm p.help-block {
  margin: 0;
}
section#contacto form#contactForm .form-control:focus {
  border-color: #ffc800;
  box-shadow: none;
}
section#contacto form#contactForm ::-webkit-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contacto form#contactForm :-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contacto form#contactForm ::-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contacto form#contactForm :-ms-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}

section#contacto .text-muted{
  color: #FFF !important;
}

/* funcionIntracker */

.funcionIntracker {
  position: relative;
  padding: 0;
  list-style: none;
}
.funcionIntracker:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.funcionIntracker > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.funcionIntracker > li:after, .funcionIntracker > li:before {
  display: table;
  content: " ";
}
.funcionIntracker > li:after {
  clear: both;
}
.funcionIntracker > li .funcionIntracker-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.funcionIntracker > li .funcionIntracker-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.funcionIntracker > li .funcionIntracker-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.funcionIntracker > li .funcionIntracker-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #9c2c2c;
  border-radius: 100%;
  background-color: #6b1414;
}
.funcionIntracker > li .funcionIntracker-image h4, .funcionIntracker > li .funcionIntracker-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.funcionIntracker > li.funcionIntracker-inverted > .funcionIntracker-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.funcionIntracker > li.funcionIntracker-inverted > .funcionIntracker-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.funcionIntracker > li.funcionIntracker-inverted > .funcionIntracker-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.funcionIntracker > li:last-child {
  margin-bottom: 0;
}
.funcionIntracker .funcionIntracker-heading h4, .funcionIntracker .funcionIntracker-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.funcionIntracker .funcionIntracker-heading h4.subheading, .funcionIntracker .funcionIntracker-heading .subheading.h4 {
  text-transform: none;
}
.funcionIntracker .funcionIntracker-body > ul,
.funcionIntracker .funcionIntracker-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .funcionIntracker:before {
    left: 50%;
  }
  .funcionIntracker > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .funcionIntracker > li .funcionIntracker-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .funcionIntracker > li .funcionIntracker-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .funcionIntracker > li .funcionIntracker-image h4, .funcionIntracker > li .funcionIntracker-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .funcionIntracker > li.funcionIntracker-inverted > .funcionIntracker-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .funcionIntracker > li {
    min-height: 150px;
  }
  .funcionIntracker > li .funcionIntracker-panel {
    padding: 0 20px 20px;
  }
  .funcionIntracker > li .funcionIntracker-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .funcionIntracker > li .funcionIntracker-image h4, .funcionIntracker > li .funcionIntracker-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .funcionIntracker > li.funcionIntracker-inverted > .funcionIntracker-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .funcionIntracker > li {
    min-height: 170px;
  }
  .funcionIntracker > li .funcionIntracker-panel {
    padding: 0 20px 20px 100px;
  }
  .funcionIntracker > li .funcionIntracker-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .funcionIntracker > li .funcionIntracker-image h4, .funcionIntracker > li .funcionIntracker-image .h4 {
    margin-top: 40px;
  }
  .funcionIntracker > li.funcionIntracker-inverted > .funcionIntracker-panel {
    padding: 0 100px 20px 20px;
  }
}

/* Footer */

.footer1{
  background-color: #212529 !important;
}

.footer2{
  background-color: #151515 !important;
  color: whitesmoke;
}

/* Widgets Extras */

/* Widget Book */
.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.iconCover{
  width: 300px;
  height: 200px;
}

.textBook{
  font-size: 10px;
}


/* Widget Card Pizza */

.card2 {
  overflow: visible;
  width: 200px;
  height: 300px;
}

.content2 {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front2, .back2 {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back2 {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back2::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back2-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card2:hover .content2 {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front2 {
  transform: rotateY(180deg);
  color: white;
}

.front2 .front2-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front2-content .badge2 {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description2 {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title2 {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title2 p {
  /* width: 50%; */
  text-align: justify;
  font-size: 11px;
}

.card2-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front2 .img2 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle2 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom2 {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right2 {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Widget Card Cambio Color */
.card3 {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card3-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card3:hover .card3-inner {
  transform: rotateY(180deg);
}

.card3-front,
.card3-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card3-front {
  background-color: #6A2C70;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #6A2C70;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card3-back {
  background-color: #F08A5D;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #F08A5D;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

/* Widget Tarjeta Rotativa */
.card4 {
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card4 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card4:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card4__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card4:hover .card4__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card4__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card4__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card4:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}

/* Tarjeta Levantada */
.card5 {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card5 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card5:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card5__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card5:hover .card5__content {
  transform: rotateX(0deg);
}

.card5__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card5:hover svg {
  scale: 0;
}

.card5__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}



