.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 600px;
    margin: 0 auto;
}

.cuadroPais{
    background-color: rgba(107,21,21,0.75);
    border-radius: 20px;
}

.iconoBandera{
    width: 180px;
    height: 120px;
}

.tituloPais{
    padding-top: 10px;
}

.paddingSeparadorTope{
    padding-top: 15px;
}

.tituloNegrita{
    font-weight: bold;
}

.separadorLogoIndex{
    padding-top: 50px;
}

.container-fluid, .row {
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.paddingInternoDerecho{
    padding-right: 20px;
}

.paddingInternIzquierdo{
    padding-left: 20px;
}

.logoIndex{
    width: 170px;
    height: 200px;
}

.enlaceColor:hover{
    color: #843C3C !important;
}

.iconoBotonBlanco{
    width: 20px;
    fill: #FFF;
}

.iconoBotonNegro{
    width: 20px;
    fill: #000;
}

.textoJustificado{
    text-align: justify;
}

.textoCentrado{
  text-align: center;
}

.textoIzquierdo{
  text-align: left;
}

.iconConocenos{
  width: 70px;
}

.iconFunciones{
  width: 150px;
  height: 150px;
  vertical-align: middle;
} 

.imagenCarruselServicios{
    width: 600px;
    height: 450px;
}

.tituloServicios{
  font-size: 20px !important;
}

.tituloServiciosLargo{
  font-size: 18px !important;
}

.resumenServicio{
  font-size: 14px !important;
}

.colorInTracker1{
  color: #6B1515;
}

.colorInTracker1Bold{
  color: #6B1515;
  font-weight: bold;
}

.separador{
  margin: 10px;
}

.imagenAuto{
  margin: auto;
}

.textoBlanco{
  color: #FFF;
}

/* Sección Servicios */
#servicios .servicios-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
#servicios .servicios-item .servicios-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#servicios .servicios-item .servicios-link .servicios-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(107,21,21,0.75);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#servicios .servicios-item .servicios-link .servicios-hover .servicios-hover-content {
  font-size: 1.25rem;
  color: white;
}
#servicios .servicios-item .servicios-link:hover .servicios-hover {
  opacity: 1;
}
#servicios .servicios-item .servicios-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#servicios .servicios-item .servicios-caption .servicios-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#servicios .servicios-item .servicios-caption .servicios-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.servicios-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.servicios-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.servicios-modal .modal-content h2, .servicios-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.servicios-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.servicios-modal .modal-content p {
  margin-bottom: 2rem;
}
.servicios-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.servicios-modal .modal-content img {
  margin-bottom: 2rem;
}
.servicios-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.servicios-modal .close-modal:hover {
  opacity: 0.3;
}

/* Sección dispositivos */
#dispositivos .dispositivos-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
#dispositivos .dispositivos-item .dispositivos-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#dispositivos .dispositivos-item .dispositivos-link .dispositivos-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(107,21,21,0.75);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#dispositivos .dispositivos-item .dispositivos-link .dispositivos-hover .dispositivos-hover-content {
  font-size: 1.25rem;
  color: white;
}
#dispositivos .dispositivos-item .dispositivos-link:hover .dispositivos-hover {
  opacity: 1;
}
#dispositivos .dispositivos-item .dispositivos-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#dispositivos .dispositivos-item .dispositivos-caption .dispositivos-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#dispositivos .dispositivos-item .dispositivos-caption .dispositivos-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dispositivos-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.dispositivos-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.dispositivos-modal .modal-content h2, .dispositivos-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.dispositivos-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.dispositivos-modal .modal-content p {
  margin-bottom: 2rem;
}
.dispositivos-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.dispositivos-modal .modal-content img {
  margin-bottom: 2rem;
}
.dispositivos-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.dispositivos-modal .close-modal:hover {
  opacity: 0.3;
}

/* testimonios */
.testimonioClientes {
  margin-bottom: 3rem;
  text-align: center;
}
.testimonioClientes img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(107,21,21,0.95);
}
.testimonioClientes h4, .testimonioClientes .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

/**/
section#contacto {
  background-color: #212529;
  background-image: url("../img/bg2_1.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

section#contacto .section-heading {
  color: #fff;
}
section#contacto form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contacto form#contactForm .form-group input,
section#contacto form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contacto form#contactForm .form-group input.form-control {
  height: auto;
}
section#contacto form#contactForm .form-group-textarea {
  height: 100%;
}
section#contacto form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contacto form#contactForm p.help-block {
  margin: 0;
}
section#contacto form#contactForm .form-control:focus {
  border-color: #ffc800;
  box-shadow: none;
}
section#contacto form#contactForm ::-webkit-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contacto form#contactForm :-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contacto form#contactForm ::-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}
section#contacto form#contactForm :-ms-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ced4da;
}

section#contacto .text-muted{
  color: #FFF !important;
}

/* funcionIntracker */

.funcionIntracker {
  position: relative;
  padding: 0;
  list-style: none;
}
.funcionIntracker:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.funcionIntracker > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.funcionIntracker > li:after, .funcionIntracker > li:before {
  display: table;
  content: " ";
}
.funcionIntracker > li:after {
  clear: both;
}
.funcionIntracker > li .funcionIntracker-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.funcionIntracker > li .funcionIntracker-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.funcionIntracker > li .funcionIntracker-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.funcionIntracker > li .funcionIntracker-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #9c2c2c;
  border-radius: 100%;
  background-color: #6b1414;
}
.funcionIntracker > li .funcionIntracker-image h4, .funcionIntracker > li .funcionIntracker-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.funcionIntracker > li.funcionIntracker-inverted > .funcionIntracker-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.funcionIntracker > li.funcionIntracker-inverted > .funcionIntracker-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.funcionIntracker > li.funcionIntracker-inverted > .funcionIntracker-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.funcionIntracker > li:last-child {
  margin-bottom: 0;
}
.funcionIntracker .funcionIntracker-heading h4, .funcionIntracker .funcionIntracker-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.funcionIntracker .funcionIntracker-heading h4.subheading, .funcionIntracker .funcionIntracker-heading .subheading.h4 {
  text-transform: none;
}
.funcionIntracker .funcionIntracker-body > ul,
.funcionIntracker .funcionIntracker-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .funcionIntracker:before {
    left: 50%;
  }
  .funcionIntracker > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .funcionIntracker > li .funcionIntracker-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .funcionIntracker > li .funcionIntracker-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .funcionIntracker > li .funcionIntracker-image h4, .funcionIntracker > li .funcionIntracker-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .funcionIntracker > li.funcionIntracker-inverted > .funcionIntracker-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .funcionIntracker > li {
    min-height: 150px;
  }
  .funcionIntracker > li .funcionIntracker-panel {
    padding: 0 20px 20px;
  }
  .funcionIntracker > li .funcionIntracker-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .funcionIntracker > li .funcionIntracker-image h4, .funcionIntracker > li .funcionIntracker-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .funcionIntracker > li.funcionIntracker-inverted > .funcionIntracker-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .funcionIntracker > li {
    min-height: 170px;
  }
  .funcionIntracker > li .funcionIntracker-panel {
    padding: 0 20px 20px 100px;
  }
  .funcionIntracker > li .funcionIntracker-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .funcionIntracker > li .funcionIntracker-image h4, .funcionIntracker > li .funcionIntracker-image .h4 {
    margin-top: 40px;
  }
  .funcionIntracker > li.funcionIntracker-inverted > .funcionIntracker-panel {
    padding: 0 100px 20px 20px;
  }
}

/* Footer */

.footer1{
  background-color: #212529 !important;
}

.footer2{
  background-color: #151515 !important;
  color: whitesmoke;
}
